In [33]:
import pandas as pd
df=pd.DataFrame()
for i in range(25):
    x=pd.read_csv('allData1/comment{}.csv'.format(i+1),index_col=0)
    df=df.append(x)
df=df.reset_index().rename(columns={'index':'stkcd'})
df['label']=9
df['reason']=' '
def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        pass
 
    try:
        import unicodedata
        unicodedata.numeric(s)
        return True
    except (TypeError, ValueError):
        pass
    return False
x=df['content'].apply(lambda x: not is_number(x))
df=df[x]
df=df.reset_index(drop=True)
df.to_csv('./comment_all1.csv')

In [34]:
df.head()

,stkcd,time,read_count,user_id,star,content,comment_count,label,reason
0,2833,2020-03-09 09:27:16,199,4775111747367718,6,死了死了，开盘,0,9,
1,2833,2020-03-07 14:54:30,19,5446013531567178,7,暂时还是先不要买入的话。做股票一定要根据是做短线或者中长线，同时结合自身的实际资金情况和承受...,0,9,
2,2833,2020-03-09 09:22:22,188,6205335693773910,5,破罐子破摔了！节后至今一波恶心走势！,0,9,
3,2833,2020-03-06 14:19:26,1146,5030125439108538,2,绝不会后悔！,0,9,
4,2833,2020-03-06 13:53:04,1330,6260325809839302,1,庄家，给我洗出去了,2,9,

In [3]:
# x=df.groupby(['stkcd'])['time'].count().reset_index().sort_values(by=['time'])
# x=x[x['time']>100]
# x

      stkcd  time
134  300120  1068
117    2767  1126
35      988  1156
226  601199  1156
246  603806  1170
..      ...   ...
64     2239  2007
181  600216  2026
191  600513  2032
195  600536  2070
138  300160  2295

[250 rows x 2 columns]

In [5]:
df.to_csv('./comment_all1.csv')