In [2]:
import pandas as pd
from datetime import datetime
import numpy as np
stocks_info=pd.read_csv('./stocks_frequency_25.csv',index_col=0)
stocks_info

                                                     time  total_reads
1       ['02-22 11:34', '02-22 11:15', '02-22 10:37', ...    5252617.0
2       ['02-22 09:57', '02-22 09:55', '02-20 19:35', ...   10159783.0
4       ['02-22 11:00', '02-22 10:29', '02-22 07:21', ...    4402381.0
5       ['02-22 09:07', '02-22 02:38', '02-22 01:09', ...    2839286.0
6       ['02-22 09:09', '02-22 08:06', '02-21 17:26', ...    3565125.0
...                                                   ...          ...
603995  ['02-22 19:55', '02-22 19:17', '02-22 17:17', ...    1146071.0
603996  ['02-22 18:33', '02-22 15:46', '02-22 15:16', ...    1756186.0
603997  ['02-22 15:20', '02-22 13:14', '02-21 18:04', ...    3316637.0
603998  ['02-22 16:34', '02-22 11:26', '02-21 19:10', ...    1187677.0
603999  ['02-22 20:23', '02-22 20:23', '02-22 17:02', ...    1291535.0

[3690 rows x 2 columns]

In [20]:
new_info=pd.DataFrame(columns=['total_reads','counts','deltatime','density','RxD'],index=stocks_info.index)
for index,row in stocks_info.iterrows():
    x=eval(row['time'])#字符串类型list转list
    counts=len(x)
    #print(x[0])
    #注意反了
    start_time=datetime.strptime( '2020-'+x[0],'%Y-%m-%d %H:%M')
    if int(x[-1][:2]) <=2:
        end_time=datetime.strptime( '2020-'+x[-1],'%Y-%m-%d %H:%M')
    else:
        end_time=datetime.strptime( '2019-'+x[-1],'%Y-%m-%d %H:%M')

    deltatime=(start_time-end_time).total_seconds()
    density=counts*1000/deltatime
    #print(index,row['total_reads'],counts,deltatime,density)
    new_info.loc[index]=[row['total_reads'],counts,deltatime,density,row['total_reads']*density]
new_info=new_info.sort_values(by="density" , ascending=False)
new_info.to_csv('./stocks_info_final_25.csv')

In [21]:
new_info.describe()

        total_reads  counts  deltatime      density            RxD
count        3690.0    3690     3690.0  3690.000000    3690.000000
unique       3686.0      19     3666.0  3671.000000    3690.000000
top       4376314.0    1920  9967440.0     0.120097  734618.066397
freq            2.0    3053        2.0     2.000000       1.000000

In [22]:
idx=new_info.index.tolist()
idx=list(map(str,idx))
idx=list(map(lambda x : x.zfill(6),idx))
#print(idx[:20])
new_info.index=idxdfsa
data=new_info[new_info['density']>0].reset_index()
data=data.rename(columns={'index':'stkcd'})
data

       index  total_reads counts    deltatime    density          RxD
0     002833  4.50246e+06   1920        20520    93.5673  4.21283e+08
1     603633  4.27377e+06   1920        22080    86.9565  3.71633e+08
2     002802  4.51734e+06   1920        22740    84.4327  3.81411e+08
3     600693  6.35468e+06   1920        45360     42.328  2.68981e+08
4     002003  5.44201e+06   1920        60420    31.7776  1.72934e+08
...      ...          ...    ...          ...        ...          ...
3671  300617  4.83392e+06   1920  3.06709e+07  0.0626001       302604
3672  600377  5.57587e+06   1920  3.06887e+07  0.0625637       348847
3673  300681  3.91659e+06   1920  3.08621e+07  0.0622121       243660
3674  002817  4.15562e+06   1920  3.08824e+07  0.0621713       258360
3675  300616  5.75711e+06   1920  3.09283e+07  0.0620791       357396

[3676 rows x 6 columns]

In [2]:
import numpy as np

In [29]:
stkcd=data.stkcd.tolist()
np.save('./stkcd.npy',stkcd)

In [4]:
x=np.load('./stkcd.npy').tolist()
print(x.index('603601'))

163